:root {
    --background-color: #000000;
    --surface-color: #1A1A1A;
    --secondary-color: #FF9E1F;
    --primary-color: #FF000A;
    --family-font: "Inter", sans-serif;
}

body{
    background-color: var(--background-color);
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> de71392e4310b5f46478b23ec0d8039d8bfd59dd
}


.headingCategory{
    margin: 25px;
}

.noveltyCategory,
.popularCategory,
.popularCategory {
    margin-bottom: 85px;
    margin-left: 30px;
<<<<<<< HEAD
>>>>>>> develop
=======
>>>>>>> de71392e4310b5f46478b23ec0d8039d8bfd59dd
}